{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}


{% block body %}
    <h1>Login</h1>

    <form action="" method="POST">

        <div class="form-group">
            <input 
            type="text" 
            class="form-control" 
            name="username" 
            placeholder="User Name">
        </div>

        <div class="form-group">
            <input 
            type="password" 
            class="form-control" 
            name="password" 
            placeholder="Insert Password">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Submit</button>
        </div>

    </form>
{% endblock %}